
div {
  width:640px; /*要素の幅指定*/
  height:480px; /*要素の高さ指定*/
  text-align: center;
  background-color; iceblue;
  background-image: url(img/iriomote.jpeg);
  background-repeat:no-repeat;
/*   background-size: auto; */
  color: dodgerblue;
  margin-left : auto;
  margin-right : auto;
  font-size; 200%; 
}

