
body {
  width:370px; /*要素の幅指定*/
  height:480px; /*要素の高さ指定*/
  text-align: center;
  color: #EEEEEE;
  margin-left : auto;
  margin-right : auto;
}

#backimg{
  width:370px; /*要素の幅指定*/
  height:480px; /*要素の高さ指定*/
  background-position: center;
  background-repeat: no-repeat;
}
